.profile {
  margin: 0 auto;
  padding: 40px 19px 0;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

@media (max-width: 917px) {

  .profile {
    max-width: 581px;
  }
  
}

@media (max-width: 618px) {

  .profile {
    max-width: 282px;
    flex-direction: column;
    row-gap: 33px;
  }
  
}