.profile__main {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

@media (max-width: 618px) {

  .profile__main {
    width: 100%;
    flex-direction: column;
    row-gap: 26px;
  }
  
}