.profile__edit-info-btn {
  box-sizing: border-box;
  margin-top: 15px;
  padding: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background: url(../../../images/icons/pencil.svg) center no-repeat;
  background-size: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.profile__edit-info-btn:hover {
  opacity: .6;
}

@media (max-width: 917px) {

  .profile__edit-info-btn {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
  
}