.popup__form-inputs {
  margin: 48px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border: none;
}

@media (max-width: 618px) {

  .popup__form-inputs {
    margin: 75px 0 45px;
  }
  
}