.popup__close-btn {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(../../../images/icons/cross.svg) no-repeat;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;
}

.popup__close-btn:hover {
  opacity: .6;
}