.profile__info {
  display: flex;
  max-width: calc(100% - 150px);
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;

}

@media (max-width: 618px) {

  .profile__info {
    max-width: 100%;
  }

}