.profile__info-main {
  max-width: 506px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (max-width: 917px) {

  .profile__info-main {
    max-width: 292px;
  }

}

@media (max-width: 618px) {

  .profile__info-main {
    max-width: 226px;
    row-gap: 8px;
  }

}