.header {
  margin: 0 auto;
  padding: 45px 0 37px;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 618px) {

  .header {
    padding: 28px 0;
  }
  
}