
.profile__user-about {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 917px) {

  .profile__user-about {
    font-size: 14px;
  }
  
}

@media (max-width: 618px) {

  .profile__user-about {
    text-align: center;
  }
  
}